main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* bio */
.bio {
    background-color: antiquewhite;
}


.bio>div {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.bio>div>img {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 90px;
}

/* Prime clubs */
.prime-clubs {
    background-color: gainsboro;
}

.prime-clubs>div {
    display: flex;
    justify-content: space-evenly;
}


.prime-clubs>div>img {
    width: 20%;
    aspect-ratio: 1/1;
}

/* Trophies */

.trophies {
    background-color: azure;
}

.trophies>.container {
    display: flex;
    justify-content: space-evenly;
}

/* status */

.status {
    background-color: bisque;
}

.status>h2 {
    font-size: 100px;
}

/* media query */

@media screen and (max-width: 750px) {
    main{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}