main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

/* bio */

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bio>div>img {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 90px;
}

/* Prime clubs */

.prime-clubs {
    
    border: solid red;
    display: flex;
    justify-content: space-evenly;
}

.prime-clubs > img{
    width: 20%;
    aspect-ratio: 1/1;
}

/* Trophies */
